In [1]:
import pandas as pd
import numpy as np
import glob
import functions
from tqdm import tqdm

In [2]:
# Load jobad ID's along with firm names and correct these using the firm_name() function from functions module
list_of_dfs = []

for file in tqdm(glob.glob(r'H:\HBS Data\Drift III\data\version1.0\cvr\output/*')):
    temp = pd.read_csv(file
                       , sep='\t'
                       , encoding='utf-8'
                       , usecols = ['ID', 'firma', 'dato']
                      )
    df = functions.firm_name(temp)
    list_of_dfs.append(df)
        
data = pd.concat(list_of_dfs)

100%|████████████████████████████████████████████████████████████████████████████████| 171/171 [04:46<00:00,  1.68s/it]

In [3]:
list_of_dfs = []

for file in tqdm(glob.glob(r'H:\HBS Data\Drift III\data\version1.0\branche/*')):
    temp = pd.read_csv(file
                       , sep='\t'
                       , encoding='utf-8'
                       , usecols = ['ID', 'branchekode']
                      )
    list_of_dfs.append(temp)
        
branche = pd.concat(list_of_dfs)

100%|████████████████████████████████████████████████████████████████████████████████| 170/170 [00:26<00:00,  6.46it/s]

In [4]:
# Load BERT categories for each jobad ID
list_of_dfs = []

for file in tqdm(glob.glob(r'H:\HBS Data\Drift III\data\version1.0\kompetence\kompetenceKategori/*')):
    if 'Genvej' in file:
        pass
    else:
        temp = pd.read_csv(file
                           , sep='\t'
                           , encoding='utf-8'
                           , usecols = ['ID', 'Komp',  'KompNiveau1']
                          )
        list_of_dfs.append(temp)

categories = pd.concat(list_of_dfs)

100%|██████████████████████████████████████████████████████████████████████████████████| 60/60 [01:18<00:00,  1.32s/it]

In [5]:
# Combine data
temp = pd.merge(data, categories, on='ID', how='left')
firm_and_skills = pd.merge(temp, branche, on='ID', how='left')
firm_and_skills.reset_index(inplace=True, drop=True)

In [6]:
firm_and_skills

,ID,firma,dato,real_firm_name,Komp,KompNiveau1,branchekode
0,k20070117h1174932607,Zealand Pharma A/S,2007-01-17,Zealand Pharma,NaN,NaN,721100.0
1,k20070126h1187052578,Zealand Pharma A/S,2007-01-26,Zealand Pharma,NaN,NaN,721100.0
2,k20070105h1160020000,Vestas Wind Systems A/S,2007-01-05,Vestas Wind Systems,NaN,NaN,721900.0
3,k20070105h1159990000,Vestas Wind Systems A/S,2007-01-05,Vestas Wind Systems,NaN,NaN,721900.0
4,k20070105h1158590000,Vestas Wind Systems A/S,2007-01-05,Vestas Wind Systems,NaN,NaN,721900.0
...,...,...,...,...,...,...,...
961538,k2021032694731643974,Alm. Brand A/S,2021-03-26,Alm. Brand,NaN,NaN,NaN
961539,k20210330h1068814355,Alm. Brand,2021-03-30,Alm. Brand,NaN,NaN,NaN
961540,k2021030494261564694,ALK-Abelló A/S,2021-03-04,ALK-Abelló B,NaN,NaN,NaN
961541,k2021031694520284417,ALK-Abelló A/S,2021-03-16,ALK-Abelló B,NaN,NaN,NaN
961542,k2021031894582814378,ALK-Abelló A/S,2021-03-18,ALK-Abelló B,NaN,NaN,NaN

In [10]:
firm_and_skills[firm_and_skills.notna() == True]

,ID,firma,dato,real_firm_name,Komp,KompNiveau1,branchekode
0,k20070117h1174932607,Zealand Pharma A/S,2007-01-17,Zealand Pharma,NaN,NaN,721100.0
1,k20070126h1187052578,Zealand Pharma A/S,2007-01-26,Zealand Pharma,NaN,NaN,721100.0
2,k20070105h1160020000,Vestas Wind Systems A/S,2007-01-05,Vestas Wind Systems,NaN,NaN,721900.0
3,k20070105h1159990000,Vestas Wind Systems A/S,2007-01-05,Vestas Wind Systems,NaN,NaN,721900.0
4,k20070105h1158590000,Vestas Wind Systems A/S,2007-01-05,Vestas Wind Systems,NaN,NaN,721900.0
...,...,...,...,...,...,...,...
961538,k2021032694731643974,Alm. Brand A/S,2021-03-26,Alm. Brand,NaN,NaN,NaN
961539,k20210330h1068814355,Alm. Brand,2021-03-30,Alm. Brand,NaN,NaN,NaN
961540,k2021030494261564694,ALK-Abelló A/S,2021-03-04,ALK-Abelló B,NaN,NaN,NaN
961541,k2021031694520284417,ALK-Abelló A/S,2021-03-16,ALK-Abelló B,NaN,NaN,NaN
961542,k2021031894582814378,ALK-Abelló A/S,2021-03-18,ALK-Abelló B,NaN,NaN,NaN

In [ ]:
# Dataframe with most frequent skill in jobad
most_frequent = pd.DataFrame(firm_and_skills.groupby('ID').KompNiveau1.value_counts())\
                            .rename(columns={'KompNiveau1':'antal'})\
                            .reset_index()

most_frequent = most_frequent.drop_duplicates('ID', keep='first')
most_frequent.head(3)

In [ ]:
firm_name = firm_and_skills[['ID', 'real_firm_name', 'dato']].drop_duplicates('ID')
final_firm_data = pd.merge(most_frequent, firm_name, on='ID', how='left')
final_firm_data.head(3)

In [ ]:
# Read stock data
stocks = pd.read_csv(r'pris_data.csv', usecols=['dato', 'adj_close', 'firma'])
stocks = stocks.rename(columns={'firma':'real_firm_name'})
stocks = stocks[stocks.adj_close.notna()]
stocks.head(3)

In [ ]:
event_test = pd.merge(stocks, final_firm_data, on=['real_firm_name', 'dato'], how='left')
event_test.head(3)

In [ ]:
jodad_dummy = []

for i in event_test.KompNiveau1:
    if type(i)==str:
        jodad_dummy.append(1)
    else:
        jodad_dummy.append(0)

event_test['jodad_dummy'] = jodad_dummy
event_test.head(3)

In [ ]:
mapping = {}
list_of_cat_names = ['communication', 'values', 'information', 'computer', 'leadership','machines', 'leadership', 'handling_and_transport', 'caring','build_and_construct']
for name,cat in zip(list_of_cat_names, event_test.KompNiveau1.value_counts().index.tolist()):
    mapping[cat] = name
event_test['category'] = event_test.KompNiveau1.map(mapping)
event_test['category_dummy'] = event_test.KompNiveau1.map(mapping)

In [ ]:
event_test = pd.get_dummies(event_test, columns=['category_dummy'])
event_test.to_csv('event_test_data.csv')

In [ ]:
mapping

In [ ]:
pd.get_dummies(event_test, columns=['encoded_cat'])

In [ ]:
firm_and_skills[firm_and_skills.ID=='k20070117h1174932607']

In [ ]:
df.real_firm_name.value_counts()

In [ ]:
df[df.real_firm_name != 'delete']

In [ ]:
for name,list_ in zip(list_of_names,list_of_lists):
    print(name, '          ', list_[0])