In [44]:
import pandas as pd
import yfinance as yf

In [45]:
df = pd.read_excel("børsnoterede_virk.xlsx")

In [46]:
df.dropna(inplace=True)

In [47]:
df.head()

                  Navn  Symbol          ISIN  ICB Code
1               Ørsted  ORSTED  DK0060094928    6510.0
2                Össur    OSSR  IS0000000040    2010.0
3       Zealand Pharma    ZEAL  DK0060257814    2010.0
4  Victoria Properties   VIPRO  DK0015216675    3510.0
5        Vestjysk Bank    VJBA  DK0010304500    3010.0

In [48]:
tickers = []
for i in df.Symbol:
    ticker = i+".CO"
    tickers.append(ticker)

In [49]:
data = yf.download(tickers=tickers,\
                  period ="max",\
                  interval = "1d",\
                  group_by = 'ticker',\
                  auto_adjust = True
                  )

[*********************100%***********************]  131 of 131 completed

1 Failed download:
- BOOZT-DKK.CO: 1d data not available for startTime=-2208988800 and endTime=1615131312. Only 100 years worth of day granularity data are allowed to be fetched per request.

In [50]:
price_df = pd.DataFrame()
for i in tickers:
    price_df = pd.concat([price_df,data[str(i)].Close],axis=1)

In [51]:
price_df.columns = tickers

In [52]:
price_df

,ORSTED.CO,OSSR.CO,ZEAL.CO,VIPRO.CO,VJBA.CO,VWS.CO,UIE.CO,TRYG.CO,TOTA.CO,TRMD-A.CO,...,BO.CO,ATLA-DKK.CO,AMBU-B.CO,ALMB.CO,ALK-B.CO,AGF-B.CO,AGAT.CO,AAB.CO,MAERSK-B.CO,MAERSK-A.CO
2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,49.438213,NaN,NaN,NaN,...,120.864929,NaN,NaN,26.348440,NaN,NaN,73.921181,6215.422363,4590.501953,4026.125
2000-01-04,NaN,NaN,NaN,NaN,NaN,NaN,49.438213,NaN,NaN,NaN,...,112.747131,NaN,NaN,25.860504,NaN,NaN,73.396927,6243.108887,4426.554688,4026.125
2000-01-05,NaN,NaN,NaN,NaN,NaN,NaN,49.438213,NaN,NaN,NaN,...,110.041214,NaN,NaN,25.128603,NaN,NaN,70.775604,6243.108887,4280.825195,4026.125
2000-01-06,NaN,NaN,NaN,NaN,NaN,NaN,49.438213,NaN,NaN,NaN,...,109.590218,NaN,NaN,25.616539,NaN,NaN,73.396927,6134.533203,4317.256836,4026.125
2000-01-07,NaN,NaN,NaN,147.196381,NaN,NaN,49.438213,NaN,NaN,NaN,...,112.747131,NaN,NaN,26.104473,NaN,NaN,73.396927,6704.556152,4335.473633,4026.125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-01,989.500000,43.500000,202.800003,0.980000,2.825,1173.5,1585.000000,184.300003,93.199997,49.450001,...,33.099998,5.66,287.100006,70.500000,2658.0,0.770,1.860000,42.000000,13780.000000,12730.000
2021-03-02,967.799988,43.200001,205.800003,0.970000,2.825,1149.0,1600.000000,186.500000,92.000000,53.200001,...,33.119999,5.62,282.799988,70.800003,2602.0,0.754,1.865000,42.400002,13730.000000,12750.000
2021-03-03,920.400024,43.549999,196.500000,0.960000,2.905,1090.0,1615.000000,178.500000,94.000000,52.599998,...,31.540001,5.50,266.600006,69.300003,2548.0,0.766,1.860000,42.400002,13600.000000,12650.000
2021-03-04,920.000000,43.750000,196.300003,0.910000,2.860,1085.0,1615.000000,136.199997,92.199997,51.299999,...,30.639999,5.56,260.899994,68.199997,2406.0,0.764,1.880000,42.400002,13405.000000,12550.000
2021-03-05,900.000000,43.200001,191.100006,0.930000,2.860,1042.5,1645.000000,136.000000,92.199997,50.299999,...,29.820000,5.56,255.899994,67.900002,2368.0,0.766,1.860000,41.400002,13450.000000,12540.000

In [54]:
komp_df = pd.read_csv("UDFYLD.csv",sep="\t")

/Users/smeden/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [55]:
komp_df.head()

,Unnamed: 0,ID,language,line1,dato,aar,maaned,firma,match_cvr,prob_cvr,match_cvr_virknavn,match_cvr_branche,match_cvr_ansatte_str,Komp,KompKode,KompNiveau1,KompNiveau2,digitale_ord,digitalt_flag
0,0,k20190101h8526003340,da,Kunderådgiver til filialen i Brønshøj,20190101.0,2019.0,1.0,Arbejdernes Landsbank,31467012,1.0,AKTIESELSKABET ARBEJDERNES LANDSBANK,641900.0,ANTAL_1000_999999,rådgive og sparre med eksisterende og nye kunder,S1.06,"Kommunikere, samarbejde og udøve kreativitet","Markedsføre, sælge og købe",[],alle andre
1,1,k20190101h8526003340,da,Kunderådgiver til filialen i Brønshøj,20190101.0,2019.0,1.0,Arbejdernes Landsbank,31467012,1.0,AKTIESELSKABET ARBEJDERNES LANDSBANK,641900.0,ANTAL_1000_999999,være med til at markedsføre filialen i lokalom...,S1.06,"Kommunikere, samarbejde og udøve kreativitet","Markedsføre, sælge og købe",[],alle andre
2,2,k20190101h8526003340,da,Kunderådgiver til filialen i Brønshøj,20190101.0,2019.0,1.0,Arbejdernes Landsbank,31467012,1.0,AKTIESELSKABET ARBEJDERNES LANDSBANK,641900.0,ANTAL_1000_999999,god til at skabe relationer som spændende med ...,S1.06,"Kommunikere, samarbejde og udøve kreativitet","Markedsføre, sælge og købe",[],alle andre
3,3,k20190101h8526003340,da,Kunderådgiver til filialen i Brønshøj,20190101.0,2019.0,1.0,Arbejdernes Landsbank,31467012,1.0,AKTIESELSKABET ARBEJDERNES LANDSBANK,641900.0,ANTAL_1000_999999,udadvendt,A2.02,Værdier og holdninger,Have gode manerer,[],alle andre
4,4,k20190101h8526003340,da,Kunderådgiver til filialen i Brønshøj,20190101.0,2019.0,1.0,Arbejdernes Landsbank,31467012,1.0,AKTIESELSKABET ARBEJDERNES LANDSBANK,641900.0,ANTAL_1000_999999,udadvendt,A2.02,Værdier og holdninger,Have gode manerer,[],alle andre